body {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

header {
    width: 1020px;
    height: 63px;
    background: #323232;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    margin-top: 10px;
    margin-left: 45px;
}

.about {
    margin-left: 0;
}

.get-in-touch {
    margin-right: -5
}

.blog {
    margin-left: 45
}

header nav {
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header nav a {
    display: flex;
    text-decoration: none;
    font-family: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 10.3px;
    color: white;
    margin-top: 10px;
}

header nav span {
    margin-top: 11px;
    margin-left: -11;
}

header nav a:hover {
    color: rgba(46, 179, 152, 255);
}

#triangle_down {
    width: 0;
    height: 0;
    border-top: 25px solid #323232;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    margin: 0 auto;
}

header nav span {
    color: #484c5f;
}

#PORTFOLIO {
    width: 1020px;
    height: 700px;
    margin: 0 auto;
    background-color: #ffffff;
}

#ABOUT {
    width: 1020px;
    height: 321px;
    margin: 0 auto;
    background-color: #2eb398;
}

main section a {
    position: relative;
    float: left;
    /* margin-right: 20px;
    margin-bottom: 20px;*/
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .2) 3px 5px 5px;
}

main section a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 255, 255, 0.5);
    transition: all .3s linear;
}

main section a:hover:before {
    background: none;
}

#GETIN {
    width: 1020px;
    height: 564px;
    margin: 0 auto;
    background-color: #323232;
}